*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
form{
  padding: 20px 40px;
  height: 70%;
  width: 30%;
  background-color: #0A0721;
  border-radius: 20px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.detail{
  display: flex;
  flex-direction: column;
}
.detail label{
  padding-top: 20px;
}
.detail input{
  color: white;
  padding: 10px 40px 10px 10px;
  text-align: left;
  outline: none;
  border: 1px solid #6223CB;
  border-radius: 10px;
  background-color: #0A0721;
}
input::placeholder{
  position: relative;
  left: -5%;
}
button{
  cursor: pointer;
  padding: 10px 45px;
  border: none;
  border-radius: 5px;
  background-color: #6223CB;
  color: #fff;
}
label{
  color: white;
}
span{
  color: white;
}
a:hover{
  color: royalblue;
}